
body
{
    background: linear-gradient(to right, #998123 0%, #764931 35%, #098765 50%, #833321 80%);
    color: #632371;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 10%;
    margin-left: 45%;
}
input, button{
    margin: 5px 0px;
    border: 1px solid #a22222;
    border-radius: 5px;
    color: #5a535e;
    background-color: #000000;
}
button{
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 2px 2px #5a535e;
    width: 50%;
}